/* App.css */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Prompt', sans-serif; /* ตรวจสอบการสะกดฟอนต์ Prompt */
  background-color: #f6f5f7;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  display: flex;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  width: 80%;
  max-width: 900px;
}

.form-container {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-in-container {
  background-color: #009688;
  color: white;
  flex: 1;
}

.sign-up-container {
  background-color: #ffffff;
  flex: 1;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: #009688;
  border: none;
  color: white; /* กำหนดสีตัวอักษรเป็นสีขาวเพื่อมองเห็นได้ชัด */
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00796b; /* ปรับสีเมื่อ hover ให้มืดลงเล็กน้อย */
}

button:disabled {
  background-color: #ddd;
  color: #888; /* สีตัวอักษรเมื่อปุ่มถูก disabled */
}

button.ghost {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.social-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.social {
  margin: 0 10px;
  font-size: 24px;
  color: #333;
}

.social:hover {
  color: #007BFF;
}

span {
  font-size: 14px;
  color: #555;
}

@media screen and (max-width: 768px) {
  .form-wrapper {
    flex-direction: column;
  }
}
